// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

$open-sans: 'Open Sans', Arial, sans-serif;
$mont-serrat: 'Montserrat', Arial, sans-serif;


// Colors
$color-1: #72C99D;
$color-2: #4DBB83;
$color-3: #3B9A6A;
$color-4: #2D7551;

$color-5: #72BFC2;
$color-6: #4FAFB2;
$color-7: #439497;
$color-8: #377A7C;

$color-9: #fff;
$color-10: #fafafa;
$color-11: #f2f2f2;
$color-12: #d9d9d9;

* { outline: none }
body { font-family: $open-sans }

h1 {
  color: $color-2;
  font-family: $mont-serrat;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  color: #000;
  font-size: 30px;
  font-weight: 600;
}

h3 {
  color: $color-6;
  font-family: $mont-serrat;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

h5 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}

h6 {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

a {
  color: $color-2;
  font-size: 14px;
  text-decoration: underline;

  &:hover { color: $color-1 }
  &:focus, &:active { color: $color-3 }
}

.button {
  background-color: $color-6;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 $color-8;
  text-decoration: none;

  &:hover {
    background-color: $color-5;
    box-shadow: 2px 2px 0 0 $color-6;
  }
  &:focus, &:active { background-color: $color-7 }
}

input, select { max-width: 300px }

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  background: #fff;
  border-radius: 5px;
  border: 2px solid #000 !important;
  color: #444;
  font-size: 14px;
  height: 42px;
  line-height: 38px;

  &:hover { background: $color-12 }

  &::-webkit-input-placeholder { color: #444 !important }
}


.chosen-container-single {
  margin-bottom: 20px;

  .chosen-single {
    background: #fff !important;
    border-radius: 5px !important;
    border: 2px solid #000 !important;
    height: 42px;
    line-height: 38px;

    div b { background-position: 0 8px }
  }

  .chosen-drop {
    border-radius: 5px;
    border: 1px solid #aaa;
    top: 46px;
  }

  .chosen-search {
    background: none;

    input[type="text"] {
      background: none;
      border-radius: 5px;
      border: 1px solid #000;
      padding: 10px;
    }
  }

  .chosen-results {
    margin: 0;
    padding: 0;

    .active-result {
      padding: 10px 5px;
      &.highlighted { background: $color-2 }
    }
  }

  &.chosen-container-active.chosen-with-drop .chosen-single div b { background-position: -18px 8px }
}

.menu {
  display: inline-block;

  li {
    min-width: 200px;

    &:first-child a { border-radius: 5px 0 0 5px }
    &:last-child a { border-radius: 0 5px 5px 0 }

    a {
      background: $color-11;
      box-shadow: -1px 1px 0 0 darken($color-11, 10%);
      color: #777 !important;
      font-size: 12px;
      font-weight: normal;
      padding: 15px 20px;
      text-align: center;
      text-decoration: none;
      width: 100%;
    }

    &.active a,
    a:hover,
    a:focus,
    a:active {
      background: $color-12;
      box-shadow: -1px 1px 0 0 darken($color-12, 25%);
    }
  }
}

.pagination {
  display: inline-block;

  a {
    background: $color-2;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px #aaa;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;

    &.active { top: -10px }

    &:first-child { margin-left: 0 }
    &:last-child { margin-right: 0 }

    &:hover { background: $color-1 }
  }
}

.row.center { text-align: center }
